<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Emil Forsén</title>
    <meta property="og:title" content="{{ page.title }} | Emil Forsén Portfolio">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:type" content="website">
    <link href="./out/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="a1f4c1e1-e563-4fa3-a5d0-d4448c421155"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/tokyo-night-dark.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    
    
    <script>hljs.highlightAll();</script>
