<header class=" text-white body-font shadow w-full">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <!-- Logo and Branding -->
        <a class="flex title-font font-medium items-left text-white mb-4 md:mb-0">
            <span class="ml-3 text-xl"><a href="index.html">Emil Forsén Game Portfolio</a></span>
        </a>
        <!-- Navigation -->
        <nav class="md:ml-auto flex flex-wrap items-right text-base justify-center">
            <a href="default.html" class="mr-5 hover:text-pink-400">Home</a>
            <a href="about.html" class="mr-5 hover:text-pink-400">About</a>
            <!-- <a class="mr-5 hover:text-pink-400">Projects</a>
            <a class="mr-5 hover:text-pink-400">Contact</a> -->
        </nav>
    </div>
</header>