<header class="sticky top-0 backdrop-blur text-white body-font shadow w-full" x-data="{ open: false }">
    <div class="mx-auto max-w-6xl grid grid-cols-8 pt-8 pb-6">
        <div class="max-w-5xl mx-auto w-full col-span-6">
            <!-- Logo and Branding -->
            <a href="index.html" class="title-font font-medium text-white p-3 mb-0 block">
                <span class="text-pretty">Emil Forsén Game Portfolio</span>
            </a>
        </div>

        <div class="mx-auto w-full col-span-2">
                <!-- Hamburger Menu Button -->
            <button @click="open = !open" class="text-white block p-3 hover:bg-gray-900 rounded md:hidden ml-auto hover:text-white outline-none z-50" id="menu-button">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            
            <nav class="mx-auto text-pretty md:block w-full" :class="{'fixed inset-0 flex flex-col items-center justify-center z-20 bg-black': open, 'hidden': !open}">
                <button @click="open = false" class="absolute top-0 right-0 m-4 text-white" :class="{'hidden': !open}">&times;</button>
                <a href="index.html" class="text-white font-semibold my-2 px-4 py-2 hover:bg-gray-800" :class="{'' :open}">Home</a>
                <a href="about.html" class="text-white font-semibold my-2 px-4 py-2 hover:bg-gray-800">About</a>
            </nav>
        </div>
       


    </div>
</header>
