<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emil Forsén Game Development Portfolio</title>
    <link href="./out/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-slate-900 text-white">

    <header class="bg-gray-900 text-white body-font shadow w-full">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <!-- Logo and Branding -->
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <span class="ml-3 text-xl">Emil Forsén Game Portfolio</span>
            </a>
            <!-- Navigation -->
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-rose-400">Homehgfh</a>
                <a class="mr-5 hover:text-rose-400">About</a>
                <a class="mr-5 hover:text-rose-400">Projects</a>
                <a class="mr-5 hover:text-rose-400">Contact</a>
            </nav>
        </div>
    </header>

    <main>
        <!-- Main content goes here -->
        <section class="bg-slate-900 text-white py-20 px-4 sm:px-6 lg:px-8">
           

            <div class="max-w-7xl mx-auto">
                <h1 class="text-4xl font-semibold">Hi, I'm Emil</h1>
                <p class="text-xl mt-4">Marketing guy turned game developer. Based in Gothenburg. These are some of the
                    projects I've been working on. </p>
            </div>
        </section>

        <section class="bg-slate-900 text-white py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl  mx-auto grid sm:grid-cols-1 md:grid-cols-2 gap-4">
                
                {% for project in site.data.projects %}
                    {% include popout.html project=project %}
                {% endfor %}

            </div>
        </section>

    </main>

    <footer class="bg-slate-900 shadow mt-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <p class="text-center text-gray-500 text-xs py-6">
                © 2024 Emil Forsén Game Dev Portfolio. All rights reserved.
            </p>
        </div>
    </footer>

    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>